<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Preaching Assistant</display-name>
	<listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CXF Servlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>

		<init-param>
			<param-name>config-location</param-name>
			<param-value>/WEB-INF/cxf.xml</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXF Servlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<!--Securiy configuration -->
	<security-role>
		<role-name>administrator</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure</web-resource-name>
			<url-pattern>/dojoroot/*</url-pattern>
			<url-pattern>/services/*</url-pattern>
			<url-pattern>/styles/*</url-pattern>
			<url-pattern>/index.jsp/*</url-pattern>
			<url-pattern>/main.html/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
                <form-login-page>/login.html</form-login-page>
                <form-error-page>/authfailed.html</form-error-page>
        </form-login-config>
	</login-config>
</web-app>